.changePasswordContainer {
    /* min-height: 60vh; */
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
}

@media screen and (max-width: 400px) {
    .changePasswordContainer {
        margin-left: 10px;
        margin-right: 10px;
    }
}