.wrapWishlist {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1024px;
}

.title {
    width: 100%;
    text-align: start;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.wishlist {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); 
    gap: 1.5rem; 
    align-items: start; 
}

.wishlist > * {
  display: flex;       
  justify-content: center;
}

@media (max-width: 550px) {
  .wishlist {
    align-items: center;
  }
}


