.changePasswordForm {
    width: 100%;
    max-width: 340px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* .input {
    min-width: 280px;
}

.label {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 18px;
} */
/* 
.inputGroup {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
} */

.inputWithIcon {
    position: relative;
    width: 100%;
}

.inputField {
    width: 100%;
    padding-right: 38px; 
    box-sizing: border-box;
}

.passwordInputIcon {
  position: absolute;
  top: 23px;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 2;
}

@media screen and (max-width: 450px) {
    .changePasswordForm {
        padding: 32px 20px;
    }
}